.div {
  border-radius: 2rem;
  margin: 0 auto 4rem;
  padding: 2.5rem 2.5rem;
  width: 80vw;
  height: 75vh;
  background-color: brown;
}
.message {
  text-align: center;
  font-size: 0.9rem;
  color: red;
  padding: 5px 8px;
  box-sizing: border-box;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.75rem;
}
.form {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
}
.form input,
select,
button {
  border: 1px solid red;
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin: 0 auto 1rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  letter-spacing: 1px;
}
.button {
  background-color: greenyellow;
  border: 1px solid green;
  margin-top: 1rem;
}
.button:hover {
  background-color: green;
  color: white;
  border: 1px solid greenyellow;
}
.tableDiv {
  width: 80%;
  margin: 0 auto 0;
  border: 1px solid white;
  border-radius: 0.75rem;
  background-color: #89c4b8;
}
.table {
  border-collapse: collapse;
  width: 90%;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table tr {
  border-bottom: 1px solid #dddddd;
  background-color: #009879;
  color: #fff;
  text-align: left;
}
.table tr:nth-of-type(even) {
  background-color: #71e5c3;
}
.table tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.table tr.active-row {
  font-weight: bold;
  color: #009879;
}
.table td {
  padding: 0.6rem 0.75rem;
}
.table .thead {
  background-color: #004832;
  border-bottom: 2px solid #dddddd;
}
